@charset "utf-8";
/* CSS Document */

.titulos_lista_pesquisa
{
   font-weight:bold;
   color:#060;
   background-color:#9F6;
}

.itens_tabela_banco
{
   color:#C30;
}

.ordenacao_novo_registro
{
   font-weight:bold;
   color:#00F;
}

.alterar_excluir
{
   color:#906;
   text-align:center;
}

.alterar_excluir_over
{
   background-color:#CCC;
   text-align:center;
}


.borda_tabela
{
   border-collapse:collapse;
   background-color:#999;
}

a:visited
{
	text-decoration:none;
	color:#039;
}

a:link
{
	text-decoration:none;
	color:#039;
}

.titulo_sistema
{
	font-size:24px;
	text-align:center;
	font-weight:bold;
	color:#000066;
}

.menu
{
   color:#009;
   text-align:left;
}

.menu_over
{
   color:#009;
   text-align:left;
   background-color:#0F3;
}


.MostraProdutos
{
	width:180px;
	height:180px;
	padding:10px;
	float:left;
	margin-top:10px;
	margin-bottom:10px;
	margin-left:10px;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	border-right: 1px solid #aaa;
}

.campo_descricao
{
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 font-size:12px;
}

.campo_valor
{
	 font-family:Verdana, Arial, Helvetica, sans-serif;
	 font-size:12px;
	 color:#C33;
}
